.btn {
  text-transform: uppercase; }
  .btn.btn-default {
    color: #ffffff; }

.panel.panel-info {
  border-color: #757575; }
  .panel.panel-info .panel-heading {
    border-color: #757575;
    background-color: #757575; }

a.btn {
  color: #ffffff !important;
  font: "OpenSans", sans-serif;
  letter-spacing: normal; }

.list-group-item.title {
  font-weight: bold; }
.list-group-item:link, .list-group-item:visited, .list-group-item:active {
  color: #555555; }

.badge {
  background-color: #2d2d2d; }

.page-header {
  margin: 20px 0 40px; }

mark {
  background-color: #4e4e4e;
  color: #ffffff; }

.pagination > li > a, .pagination > li > span {
  color: #2d2d2d; }
  .pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
    color: #4e4e4e; }

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  color: #ffffff;
  background-color: #2d2d2d; }

.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
  color: #2d2d2d;
  background-color: #ffffff; }

.media-left {
  padding-right: 15px; }

div.CodeMirror {
  height: 800px; }

html, body {
  font-family: "OpenSans", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #252525;
  background-color: #ffffff; }
  html #wrapper, body #wrapper {
    min-height: 100%;
    position: relative; }
  html #content, body #content {
    padding-bottom: 250px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif; }

h2 {
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 0.1em;
  padding-bottom: 30px; }
  h2 > span {
    display: block;
    font-size: 1.5em;
    color: #4e4e4e; }

h3 {
  margin-bottom: 20px;
  margin-top: 45px; }

h4 {
  text-transform: uppercase;
  font-weight: bold; }

h5 {
  margin-top: 30px;
  font-size: 17px;
  padding-bottom: 5px;
  border-bottom: 1px solid #2d2d2d; }

a, a:link, a:focus {
  color: #4e4e4e;
  transition: color 0.3s ease; }

a:active, a:hover {
  color: #252525; }

tr.tr-heading {
  background-color: #F3F3F3;
  font-weight: bold; }
  tr.tr-heading td {
    padding: 5px 10px !important; }

th.th-min-width {
  width: 0.01%; }

.hideme {
  opacity: 0; }

.no-margin {
  margin-top: 0 !important; }

.spacer-top {
  margin-top: 100px;
  display: block; }

.spacer-bottom {
  margin-bottom: 100px;
  display: block; }

.spacer-top-half {
  margin-top: 50px;
  display: block; }

.spacer-bottom-half {
  margin-bottom: 50px;
  display: block; }

.bg-inverse {
  background-color: #2d2d2d;
  color: #ffffff; }
  .bg-inverse h2 span {
    color: #4e4e4e; }

.hidden-tmp {
  display: none; }

.noscript-overlay, .loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #252525;
  z-index: 9999;
  opacity: 0.95; }
  .noscript-overlay .info, .loading-overlay .info {
    width: 800px;
    height: 300px;
    text-align: center;
    color: #ffffff;
    font-size: 2.5em;
    position: fixed;
    z-index: 99999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto; }

.loading-overlay {
  display: none; }

.row-flex, .row-flex > div[class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1 1 auto; }

.row-flex-wrap {
  -webkit-flex-flow: row wrap;
  align-content: flex-start;
  flex: 0; }

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
  margin: -.2px;
  /* hack adjust for wrapping */ }

.container-flex > div[class*='col-'] div, .row-flex > div[class*='col-'] div {
  width: 100%; }

.flex-col {
  display: flex;
  display: -webkit-flex;
  flex: 1 100%;
  flex-flow: column nowrap; }

.thumbnail-wrapper {
  height: 150px;
  overflow: hidden; }
  .thumbnail-wrapper img {
    max-height: 150px; }

footer {
  padding: 50px 0;
  width: 100%;
  height: 215px;
  position: absolute;
  bottom: 0;
  left: 0; }
  footer a, footer a:link, footer a:active, footer a:visited {
    color: #adadad; }
    footer a.author, footer a:link.author, footer a:active.author, footer a:visited.author {
      color: #ffffff; }
  footer #creative-license {
    border: none; }
  footer #theme-picker .theme-switch {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-bottom: 10px solid;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.31);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.31);
    opacity: 0.2;
    transition: opacity 0.5s ease; }
    footer #theme-picker .theme-switch:hover {
      opacity: 1; }
    footer #theme-picker .theme-switch.active {
      opacity: 1; }
    footer #theme-picker .theme-switch.dark {
      border-color: #171717 !important; }
    footer #theme-picker .theme-switch.obsidian {
      background-color: #252525; }
    footer #theme-picker .theme-switch.sky {
      background-color: #0081b3;
      border-color: #005475; }
    footer #theme-picker .theme-switch.cherry {
      background-color: #bd183e;
      border-color: #9a0018; }
    footer #theme-picker .theme-switch.emerald {
      background-color: #05d273;
      border-color: #009852; }

.dragger:hover {
  cursor: pointer; }

.text-main {
  color: #4e4e4e; }

.text-main-light {
  color: #adadad; }

.text-large {
  font-size: 1.5em; }

.progress-bar-main {
  background-color: #2d2d2d; }

.btn.btn-main {
  background-color: #4e4e4e;
  color: #ffffff; }

.alert.alert-main {
  background-color: #4e4e4e;
  color: #ffffff; }

.label.label-main {
  background-color: #4e4e4e; }

.panel.panel-main {
  border-color: #2d2d2d; }
  .panel.panel-main .panel-heading {
    border-color: #2d2d2d;
    background-color: #2d2d2d;
    color: #ffffff; }

.list-group-item.list-group-item-main {
  background-color: #2d2d2d;
  color: #ffffff; }

#top {
  position: absolute;
  top: 0; }

form .vich-image .preview img {
  max-width: 150px; }
form .form-group input[type="checkbox"] {
  display: none; }
form .form-group input[type="checkbox"] + .btn-group > label span {
  width: 20px; }
form .form-group input[type="checkbox"] + .btn-group > label span:first-child {
  display: none; }
form .form-group input[type="checkbox"] + .btn-group > label span:last-child {
  display: inline-block; }
form .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
  display: inline-block; }
form .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
  display: none; }

.vag-display {
  margin: 20px; }
  .vag-display table {
    width: 100%; }
  .vag-display .title {
    background: #252525;
    color: #ffffff;
    padding: 5px; }
  .vag-display .display {
    padding: 10px 25px;
    background-color: #4e4e4e; }
    .vag-display .display .line {
      text-transform: uppercase;
      font-family: monospace;
      font-weight: bold; }

.header-bg {
  height: 260px;
  background: #252525 no-repeat top center;
  border-bottom: 3px solid #4e4e4e;
  margin-bottom: 30px; }
  .header-bg.manager {
    height: 56px; }
  .header-bg.bg-0 {
    background-image: url("../../../images/layout/header_0.jpg"); }
  .header-bg.bg-1 {
    background-image: url("../../../images/layout/header_1.jpg"); }
  .header-bg.bg-2 {
    background-image: url("../../../images/layout/header_2.jpg"); }
  .header-bg.bg-3 {
    background-image: url("../../../images/layout/header_3.jpg"); }
  .header-bg.bg-4 {
    background-image: url("../../../images/layout/header_4.jpg"); }
  .header-bg.bg-5 {
    background-image: url("../../../images/layout/header_5.jpg"); }
  .header-bg.bg-6 {
    background-image: url("../../../images/layout/header_6.jpg"); }
  .header-bg.bg-7 {
    background-image: url("../../../images/layout/header_7.jpg"); }
  .header-bg.bg-8 {
    background-image: url("../../../images/layout/header_8.jpg"); }

header {
  animation-name: background_fade;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  width: 100%;
  height: 257px;
  background-color: rgba(37, 37, 37, 0.6); }
@keyframes background_fade {
  from {
    background-color: #252525; }
  to {
    background-color: rgba(37, 37, 37, 0.6); } }
  header#manager {
    height: 56px; }
  header .display-table {
    display: table;
    width: 100%;
    height: 204px; }
  header .display-table-cell {
    display: table-cell;
    vertical-align: middle; }
  header h1 a {
    color: #ffffff; }
    header h1 a:hover, header h1 a:focus {
      color: #adadad; }
  header .heading {
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    margin-bottom: 0px; }
  header #subtext {
    display: block;
    font-size: 2.2em;
    line-height: 0.6em; }
  header .line-box-holder {
    margin: 5px 25px; }
    header .line-box-holder .line-box {
      padding: 5px 15px;
      margin: 0 5px;
      background-color: #2d2d2d;
      color: #ffffff;
      display: inline;
      font-size: 0.6em;
      font-weight: bold; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #4e4e4e; }

.navbar.navbar-default {
  background-color: rgba(45, 45, 45, 0.7);
  transition: background-color 1s ease;
  letter-spacing: 1px;
  border: 0;
  font-size: 0.8em;
  z-index: 999; }
  @media (max-width: 992px) {
    .navbar.navbar-default {
      background-color: rgba(45, 45, 45, 0.95); } }
  .navbar.navbar-default.affix {
    top: 0;
    width: 100%;
    z-index: 999;
    border-bottom: 3px solid #4e4e4e;
    background-color: #2d2d2d; }
    .navbar.navbar-default.affix .container {
      width: 100%; }
    .navbar.navbar-default.affix .totop {
      width: 45px;
      opacity: 1; }
  .navbar.navbar-default .totop {
    transition: all 1s;
    opacity: 0;
    width: 0; }
  .navbar.navbar-default .navbar-collapse {
    padding: 0; }
  .navbar.navbar-default .navbar-nav .dropdown.disabled a.dropdown-toggle {
    color: #777777; }
    .navbar.navbar-default .navbar-nav .dropdown.disabled a.dropdown-toggle:active, .navbar.navbar-default .navbar-nav .dropdown.disabled a.dropdown-toggle:focus {
      background-color: transparent; }
  .navbar.navbar-default .container-wrap {
    margin: 0 auto;
    max-width: 1280px; }
    .navbar.navbar-default .container-wrap .container {
      transition: width 1s ease; }
      .navbar.navbar-default .container-wrap .container .navbar-header .navbar-brand {
        text-transform: uppercase; }
      @media (max-width: 991px) {
        .navbar.navbar-default .container-wrap .container #top-menu {
          max-height: 500px;
          overflow-y: auto !important;
          overflow-x: hidden !important; } }
      @media (max-width: 767px) {
        .navbar.navbar-default .container-wrap .container #top-menu {
          padding: 15px; }
          .navbar.navbar-default .container-wrap .container #top-menu ul.nav.navbar-nav > li {
            margin: 0 15px; } }
      .navbar.navbar-default .container-wrap .container #top-menu > ul > li.active > a {
        background-color: #4e4e4e;
        color: #ffffff;
        border-bottom: 3px solid #4e4e4e; }
      .navbar.navbar-default .container-wrap .container #top-menu > ul > li > a {
        text-transform: uppercase;
        transition: color 0.3s ease, background-color 0.3s ease; }
        .navbar.navbar-default .container-wrap .container #top-menu > ul > li > a:hover {
          background-color: #ffffff;
          color: #2d2d2d; }

@media (min-width: 992px) {
  .navbar-form .form-group {
    width: 165px; }
    .navbar-form .form-group input {
      width: 100%; } }
@media (min-width: 1200px) {
  .navbar-form .form-group {
    width: 250px; }
    .navbar-form .form-group input {
      width: 100%; } }
.main-nav-small li a {
  padding: 20px 100px 20px 30px; }
  .main-nav-small li a:hover {
    background-color: #2d2d2d; }

@media (max-width: 991px) {
  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; }

  .navbar.navbar-default .navbar-form {
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    margin-top: 3.5px;
    margin-bottom: 3.5px; }
  .navbar.navbar-default .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: #252525;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .navbar.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #555555;
      background-color: #ffffff; }
    .navbar.navbar-default .navbar-nav .open .dropdown-menu > li > a {
      transition: color 0.3s ease, background-color 0.3s ease;
      color: #ffffff;
      padding: 10px 20px; } }
@media (min-width: 991px) {
  .navbar.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #4e4e4e; }
  .navbar.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 10px 20px; } }
#home-index .navbox .btn {
  text-align: left;
  font-size: 1.2em;
  background-color: #ffffff;
  border-color: #F3F3F3;
  color: #252525 !important;
  text-transform: none;
  padding: 20px;
  margin-bottom: 20px;
  white-space: normal; }
  #home-index .navbox .btn hr {
    margin: 5px 0; }
  #home-index .navbox .btn:hover {
    color: #4e4e4e !important; }

#manual-show img {
  max-width: 100%;
  border: 2px solid #2d2d2d;
  margin-bottom: 25px; }
#manual-show .bottom-buttons {
  line-height: 45px; }

#manual-list .engines > a {
  transition: opacity 0.5s;
  opacity: 0.5; }
#manual-list .engines > a.active, #manual-list .engines > a:hover {
  opacity: 1; }

.text-content h4 {
  margin: 60px 0px 20px;
  border-bottom: 2px solid #2d2d2d;
  padding-bottom: 9px; }
  .text-content h4.page-header {
    margin-bottom: 20px; }
.text-content .alert h4 {
  border: 0; }
.text-content .label {
  display: inline-block; }

article h3.post-title {
  line-height: 45px;
  font-size: 2em; }

#download-list .download .download-image {
  max-width: 150px; }
#download-list .download .download-image-mobile {
  max-width: 100%; }

#download-detail .download-image {
  margin-top: 25px;
  display: block; }

#about-authors #paypal-button {
  margin: 30px 0; }
#about-authors .author h2 {
  padding-bottom: 0px; }

#about-sitemap #sitemap h3, #about-sitemap #sitemap h4 {
  margin: 15px 0; }

#article-detail h2.article-title {
  margin-bottom: 15px; }
#article-detail .alert.samples-info {
  line-height: 31px; }
#article-detail .metadata {
  margin-bottom: 30px; }
#article-detail .colors-table td {
  vertical-align: middle; }
#article-detail .colors-table .color-sample {
  height: 50px;
  width: 50px;
  transition: all 0.5s;
  position: relative; }
  #article-detail .colors-table .color-sample .hover-overlay:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  #article-detail .colors-table .color-sample .hover-overlay {
    opacity: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #ffffff;
    color: #4e4e4e;
    transition: opacity 0.1s;
    line-height: 100%;
    z-index: 99;
    position: absolute; }
  #article-detail .colors-table .color-sample:hover {
    cursor: pointer; }
    #article-detail .colors-table .color-sample:hover .hover-overlay {
      opacity: 0.9; }
  #article-detail .colors-table .color-sample.metallic {
    background-image: url("../../../images/layout/metallic.png"); }
  #article-detail .colors-table .color-sample .car-overlay {
    transition: opacity 0.5s;
    opacity: 0;
    width: 100%;
    height: 100%; }
    #article-detail .colors-table .color-sample .car-overlay.old {
      background-image: url("../../../images/layout/felicia_old.png"); }
    #article-detail .colors-table .color-sample .car-overlay.new {
      background-image: url("../../../images/layout/felicia_new.png"); }
  #article-detail .colors-table .color-sample.in {
    height: 190px;
    width: 255px; }
    #article-detail .colors-table .color-sample.in .car-overlay {
      opacity: 1; }
#article-detail .colors-table .color-sample-full {
  height: 130px;
  width: 200px; }

/*# sourceMappingURL=darkObsidian_theme.css.map */
