.text-main {
  color: #FF2C2F; }

.progress-bar-main {
  background-color: #FF2C2F; }

.display-table {
  display: table;
  width: 100%;
  height: 100%; }

.display-table-cell {
  display: table-cell;
  vertical-align: middle; }

.btn {
  text-transform: uppercase; }

.btn.btn-default {
  color: #ffffff; }

.progress-bar-linear .progress-bar {
  -webkit-transition: none !important;
  transition: none !important; }

.spacer-top {
  margin-top: 100px;
  display: block; }

.spacer-bottom {
  margin-bottom: 100px;
  display: block; }

html, body {
  font-family: "OpenSans", sans-serif;
  height: 100%; }

body p {
  font-size: 1.2em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif; }

h2 {
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 0.1em;
  padding-top: 80px;
  padding-bottom: 30px; }
  h2 > span {
    display: block;
    font-size: 1.5em;
    color: #FF2C2F; }

h4 {
  text-transform: uppercase;
  font-weight: bold; }

a, a:link {
  color: #FF2C2F;
  transition: color 0.3s ease; }

a:active, a:hover {
  color: #111111; }

#top {
  position: absolute;
  top: 0; }

.hideme {
  opacity: 0; }

.noscript-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111111;
  z-index: 9999;
  opacity: 0.95; }
  .noscript-overlay .info {
    width: 800px;
    height: 300px;
    text-align: center;
    color: #ffffff;
    font-size: 2.5em;
    position: fixed;
    z-index: 99999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto; }

.navbar {
  background-color: #111111;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-size: 0.8em;
  border: 0; }
  .navbar .navbar-header .navbar-brand {
    text-transform: uppercase; }
  .navbar #top-right-menu > ul > li.active > a {
    background-color: #FF2C2F !important;
    color: #ffffff; }
  .navbar #top-right-menu > ul > li > a {
    text-transform: uppercase;
    transition: color 0.3s ease, background-color 0.3s ease; }
    .navbar #top-right-menu > ul > li > a:hover {
      color: #FF2C2F;
      background-color: #111111; }
    .navbar #top-right-menu > ul > li > a:focus, .navbar #top-right-menu > ul > li > a:active {
      background-color: #111111;
      color: #ffffff; }

.bg-inverse {
  background-color: #111111;
  color: #ffffff; }

.home-header {
  margin-top: 29px;
  width: 100%;
  height: 500px;
  text-transform: uppercase;
  background: url("../../images/header.jpg") no-repeat fixed center;
  background-size: cover; }
  .home-header .heading {
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    color: #ffffff; }
  .home-header .display-table {
    opacity: 0;
    background-color: rgba(17, 17, 17, 0.6); }

#about #about-image {
  margin-top: 100px;
  margin-bottom: 30px;
  width: 100%; }
#about #see-webpages {
  margin-top: 50px; }

#webpages .web-service {
  min-height: 285px; }
  #webpages .web-service h4 {
    margin: 20px 0; }
#webpages #see-prices {
  margin: 100px 0; }

#ask-us {
  padding: 30px 0;
  background-color: #FF2C2F;
  color: #ffffff; }
  #ask-us h2 {
    padding: 0; }
  #ask-us .btn.btn-inverse {
    margin-top: 30px;
    background-color: #ffffff;
    color: #FF2C2F; }

#applications .app-service {
  min-height: 285px; }
  #applications .app-service h4 {
    margin: 20px 0; }

#prices h3.page-header {
  margin-top: 0px; }
#prices #product-hold {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  #prices #product-hold > div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
#prices .product {
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  position: relative; }
  #prices .product .panel-heading > h3 {
    color: #FF2C2F;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: bold; }
  #prices .product .panel-body {
    margin-bottom: 30px; }
    #prices .product .panel-body img {
      width: 100%;
      margin-bottom: 15px; }
    #prices .product .panel-body > p {
      margin-bottom: 30px; }
    #prices .product .panel-body .example {
      width: auto;
      height: 150px;
      background: #111111;
      margin-bottom: 30px; }
  #prices .product .pricetag {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 15px 15px 0;
    padding: 0;
    font-weight: bold;
    color: #FF2C2F; }

#contact #map-wrapper {
  position: relative; }
  #contact #map-wrapper #map {
    width: 100%;
    height: 500px; }
  #contact #map-wrapper h2#map-overlay {
    color: #FF2C2F;
    background-color: #111111;
    font-weight: bold;
    top: 30%;
    padding: 16px;
    width: 100%;
    opacity: 0.9;
    text-align: center;
    position: absolute; }
#contact .contact-info {
  font-family: "Roboto", sans-serif; }
  #contact .contact-info h4 {
    margin-bottom: 0px; }
  #contact .contact-info .meta {
    margin-bottom: 30px; }

/*# sourceMappingURL=main.css.map */
