{% extends 'layout_front.twig' %}
{% block title %}Changelog{% endblock %}
{% block body %}

    <div class="container" id="about-changelog">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    ups
                    <span>chyba</span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3>
                    <i class="fa fa-fw fa-times-circle"></i> Nastala neznámá chyba, pokud toto přetvrá, prosím kontaktuje správce.
                </h3>
                <a href="{{ url('frontend_home') }}">Vrátit se na úvod</a>
            </div>
        </div>
    </div>

{% endblock %}