// Manual
// ---------------------------------------------------------------------------------------------------------------------

#article-detail {
  h2.article-title {
    margin-bottom: 15px;
  }

  .alert.samples-info {
    line-height: 31px;
  }

  .metadata {
    margin-bottom: 30px;
  }

  .colors-table {
    td {
      vertical-align: middle;
    }

    .color-sample {
      height: 50px;
      width: 50px;
      transition: all 0.5s;

      position: relative;

      .hover-overlay:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }

      .hover-overlay {
        opacity: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: $colorWhite;
        color: $colorMainAlt;
        transition: opacity 0.1s;
        line-height: 100%;
        z-index: 99;

        position: absolute;
      }

      &:hover {
        cursor: pointer;

        .hover-overlay {
          opacity: 0.9;
        }
      }

      &.metallic {
        background-image: url('../../../images/layout/metallic.png');
      }

      .car-overlay {
        transition: opacity 0.5s;
        background-image: url('../../../images/layout/vehicle.png');
        opacity: 0;

        width: 100%;
        height: 100%;
      }

      &.in {
        height: 190px;
        width: 255px;

        .car-overlay {
          opacity: 1;
        }

      }
    }

    .color-sample-full {
      height: 130px;
      width: 200px;
    }
  }
}
