// Manual
// ---------------------------------------------------------------------------------------------------------------------

#article-detail {
  h2.article-title {
    margin-bottom: 15px;
  }

  .metadata {
    margin-bottom: 30px;
  }

  .colors-table {
    td {
      vertical-align: middle;
    }

    .color-sample {
      height: 50px;
      width: 50px;
      transition: all 0.5s;

      position: relative;

      &.metallic {
        background-image: url('../../../images/layout/metallic.png');
      }

      .car-overlay {
        transition: opacity 0.5s;
        background-image: url('../../../images/layout/vehicle.png');
        opacity: 0;

        width: 100%;
        height: 100%;
      }

      &.in {
        height: 190px;
        width: 255px;

        .car-overlay {
          opacity: 1;
        }
      }
    }

    .color-sample-full {
      height: 130px;
      width: 200px;
    }
  }
}
