// Manual
// ---------------------------------------------------------------------------------------------------------------------

#download-list {
  .download {
    .download-image {
      max-width: 150px;
    }
    .download-image-mobile {
      max-width: 100%;
    }
  }
}

#download-detail {
  .download-image {
    margin-top: 25px;
    display: block;
  }

}