{% extends 'layout_front.twig' %}
{% block body %}

    <div class="container" id="manual-show">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    Dílenská příručka
                    <div class="pull-right">
                        {% block pageButtons %}
                            <a href="javascript:window.print()" class="btn btn-sm btn-default">
                                <i class="fa fa-fw fa-print"></i> Vytisknout
                            </a>
                            <a href="{{ url('frontend_manual') }}" class="btn btn-sm btn-default">
                                <i class="fa fa-fw fa-home"></i> Zpět na obsah
                            </a>
                        {% endblock %}
                    </div>
                </h2>
                <h3>
                    Kontrola opotřebení a napnutí řemene alternátoru
                    <br/>
                    <small>
                        Pro motory:
                        <span class="label label-main">TEST</span>
                    </small>
                </h3>
            </div>
        </div>

        <div class="row text-content">
            <div class="col-xs-12 col-md-8 col-print-8">
                {# -------------------------------------------------------------------------------------------------- #}
                {# -------------------------------------------------------------------------------------------------- #}

                {# -------------------------------------------------------------------------------------------------- #}
                {# -------------------------------------------------------------------------------------------------- #}
            </div>

            {# - DEFAULTS - #}
            {#

            <span class="label label-default"><i class="fa fa-picture-o"></i> [4]</span>

            <h4 class="page-header"></h4>

            <div class="panel panel-default">
                <div class="panel-heading">Potřebné speciální nářadí a pomůcky</div>
                <div class="panel-body">
                    <ul>
                        <li>Měřící přístroj firmy Optibelt</li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-main">
                    <div class="panel-heading">Poznámka</div>
                    <div class="panel-body">
                        <p></p>
                    </div>
                </div>

            #}


            <div class="col-xs-12 col-sm-4 col-print-4" id="lightgallery">
                images
            </div>
        </div>

        <div class="row">
            <hr/>
            <div class="col-xs-12">
                <div class="pull-right">
                    <a href="#top" class="btn btn-sm btn-default"><i class="fa fa-fw fa-chevron-up"></i> Nahoru</a>
                    {{ block("pageButtons") }}
                </div>
            </div>

            <div class="spacer-bottom"></div>
        </div>


        <div class="row no-print">
            <div class="col-xs-12">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Další stránky:</th>
                        <th>Motorizace:</th>
                    </tr>
                    </thead>
                </table>

            </div>
        </div>


    </div>

{% endblock %}