// Globaly used classes
// ---------------------------------------------------------------------------------------------------------------------

// Body
// ---------------------------------------------------------------------------------------------------------------------
html, body {
  font-family: $fontDefault;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $colorDark;
  background-color: $colorBackground;

  #wrapper {
    min-height: 100%;
    position: relative;
  }

  #content {
    padding-bottom: 250px;
  }
}

// Headings
// ---------------------------------------------------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {
  font-family: $fontBold;
}

h2 {
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 0.1em;
  padding-bottom: 30px;

  > span {
    display: block;
    font-size: 1.5em;
    color: $colorMainAlt;
  }
}

h3 {
  margin-bottom: 20px;
  margin-top: 45px;
}

h4 {
  text-transform: uppercase;
  font-weight: bold;
}

h5 {
  margin-top: 30px;
  font-size: 17px;
  padding-bottom: 5px;
  border-bottom: 1px solid $colorMain;
}

// Links
// ---------------------------------------------------------------------------------------------------------------------

a, a:link, a:focus {
  color: $colorLink;
  transition: color 0.3s ease;
}

a:active, a:hover {
  color: $colorDark;
}

// Tables
// ---------------------------------------------------------------------------------------------------------------------
tr.tr-heading {
  td {
    padding: 5px 10px !important;
  }
  background-color: $colorLightShadow;
  font-weight: bold;
}

// Modifiers
// ---------------------------------------------------------------------------------------------------------------------

.hideme {
  opacity: 0;
}

.no-margin {
  margin-top: 0 !important;
}

.spacer-top {
  margin-top: $spacerFull;
  display: block;
}

.spacer-bottom {
  margin-bottom: $spacerFull;
  display: block;
}

.spacer-top-half {
  margin-top: $spacerHalf;
  display: block;
}

.spacer-bottom-half {
  margin-bottom: $spacerHalf;
  display: block;
}

.bg-inverse {
  background-color: $colorMain;
  color: $colorWhite;

  h2 {
    span {
      color: $colorMainAlt;
    }
  }
}

// Overlays
// ---------------------------------------------------------------------------------------------------------------------

.noscript-overlay, .loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $colorDark;
  z-index: 9999;
  opacity: 0.95;

  .info {
    width: 800px;
    height: 300px;
    text-align: center;
    color: $colorWhite;
    font-size: 2.5em;

    position: fixed;
    z-index: 99999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    max-width: 100%;
    max-height: 100%;
    overflow: auto;
  }
}

.loading-overlay {
  display: none;
}

// Flex-cols
// ---------------------------------------------------------------------------------------------------------------------
.row-flex, .row-flex > div[class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1 1 auto;
}

.row-flex-wrap {
  -webkit-flex-flow: row wrap;
  align-content: flex-start;
  flex: 0;
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
  margin: -.2px; /* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] div, .row-flex > div[class*='col-'] div {
  width: 100%;
}

.flex-col {
  display: flex;
  display: -webkit-flex;
  flex: 1 100%;
  flex-flow: column nowrap;
}

.thumbnail-wrapper {
  height: 150px;
  overflow: hidden;

  img {
    max-height: 150px;
  }
}

// Footer
// ---------------------------------------------------------------------------------------------------------------------
footer {
  padding: 50px 0;
  width: 100%;
  height: 215px;
  position: absolute;
  bottom: 0;
  left: 0;

  a.author {

  }

  a, a:link, a:active, a:visited {
    color: $colorFooterLink;

    &.author {
      color: $colorWhite;
    }
  }

  #creative-license {
    border: none;
  }

  #theme-picker {
    .theme-switch {
      display: inline-block;
      width: 25px;
      height: 25px;
      border-bottom: 10px solid;
      -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.31);
      -moz-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.31);
      box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.31);
      opacity: 0.2;
      transition: opacity 0.5s ease;

      &:hover {
        opacity: 1;
      }

      &.active {
        opacity: 1;
      }

      &.dark {
        border-color: #171717 !important;
      }

      &.obsidian {
        background-color: #252525;
      }

      &.sky {
        background-color: #0081b3;
        border-color: #005475;
      }

      &.cherry {
        background-color: #bd183e;
        border-color: #9a0018;
      }

      &.emerald {
        background-color: #05d273;
        border-color: #009852;
      }

    }
  }
}

// Custom classes
// ---------------------------------------------------------------------------------------------------------------------
.dragger:hover {
  cursor: pointer;
}

.text-main {
  color: $colorMainAlt;
}

.text-main-light {
  color: $colorMainLight;
}

.text-large {
  font-size: 1.5em;
}

.progress-bar-main {
  background-color: $colorMain;
}

.btn.btn-main {
  background-color: $colorMainAlt;
}

.label.label-main {
  background-color: $colorMainAlt;
}

.panel.panel-main {
  border-color: $colorMain;
  .panel-heading {
    border-color: $colorMain;
    background-color: $colorMain;
    color: $colorWhite;
  }
}

.list-group-item {
  &.list-group-item-main {
    background-color: $colorMain;
    color: $colorWhite;
  }
}

#top {
  position: absolute;
  top: 0;
}

// Forms
// ---------------------------------------------------------------------------------------------------------------------
form {
  .vich-image {
    .preview img {
      max-width: 150px;
    }
  }

  .form-group input[type="checkbox"] {
    display: none;
  }

  .form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
  }

  .form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
  }
  .form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
  }

  .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
  }
  .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
  }
}