// Header
// ---------------------------------------------------------------------------------------------------------------------
.header-bg {
  &.manager {
    height: 56px;
  }

  height: 260px;
  background: #252525 no-repeat top center;
  border-bottom: 3px solid $colorMainAlt;
  margin-bottom: 30px;

  @for $i from 0 through 8 {
    &.bg-#{$i} {
      background-image: url('../../../images/layout/header_#{$i}.jpg');
    }
  }
}

header {
  @keyframes background_fade {
    from {
      background-color: rgba(#252525, 1);
    }
    to {
      background-color: rgba(#252525, 0.6);
    }
  }

  animation-name: background_fade;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-in;

  width: 100%;
  height: 257px;
  background-color: rgba(#252525, 0.6);

  &#manager {
    height: 56px;
  }

  .display-table {
    display: table;
    width: 100%;
    height: 204px;
  }

  .display-table-cell {
    display: table-cell;
    vertical-align: middle;
  }

  h1 a {
    color: $colorWhite;
    &:hover, &:focus {
      color: $colorMainLight;
    }
  }

  .heading {
    text-transform: uppercase;
    font-family: $fontBold;
    color: $colorWhite;
    margin-bottom: 0px;
  }

  #subtext {
    display: block;
    font-size: 2.2em;
    line-height: 0.6em;
  }

  .line-box-holder {
    margin: 5px 25px;

    .line-box {
      padding: 5px 15px;
      margin: 0 5px;
      background-color: $colorMain;
      color: $colorWhite;
      display: inline;
      font-size: 0.6em;
      font-weight: bold;
    }
  }
}
