// Navbar
// ---------------------------------------------------------------------------------------------------------------------
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: $colorMainAlt;
}

.navbar.navbar-default {

  background-color: transparentize($colorMain, 0.3);

  @media (max-width: $screen-md-min) {
    background-color: transparentize($colorMain, 0.05)
  }

  transition: background-color 1s ease;
  letter-spacing: 1px;
  border: 0;
  font-size: 0.8em;
  z-index: 999;

  &.affix {
    top: 0;
    width: 100%;
    z-index: 999;
    border-bottom: 3px solid $colorMainAlt;
    background-color: $colorAffixNavbarBg;

    & .container {
      width: 100%;
    }

    .totop {
      width: 45px;
      opacity: 1;
    }
  }

  .totop {
    transition: all 1s;
    opacity: 0;
    width: 0;
  }

  .navbar-collapse {
    padding: 0;
  }

  .navbar-nav {
    .dropdown.disabled {
      a.dropdown-toggle {
        color: #777777;

        &:active, &:focus {
          background-color: transparent;
        }
      }
    }
  }

  .container-wrap {
    margin: 0 auto;
    max-width: 1280px;

    & .container {
      transition: width 1s ease;

      .navbar-header {
        .navbar-brand {
          text-transform: uppercase;
        }
      }

      .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
        background-color: $colorMainAlt;
      }

      #top-menu {
        @media(max-width: $screen-sm-max) {
          max-height: 500px;
          overflow-y: auto !important;
          overflow-x: hidden !important;
        }

        @media (max-width: $screen-xs-max) {
          padding: 15px;

          & ul.nav.navbar-nav {
            > li {
              margin: 0 15px;
            }
          }
        }

        & > ul > li.active {
          > a {
            background-color: $colorMainAlt;
            color: $colorWhite;
            border-bottom: 3px solid $colorMainAlt;
          }
        }

        & > ul > li > a {
          text-transform: uppercase;
          transition: color 0.3s ease, background-color 0.3s ease;

          &:hover {
            background-color: $colorWhite;
            color: $colorMain;
          }
        }
      }
    }
  }
}

@media (min-width: $screen-md-min) {
  .navbar-form .form-group {
    width: 165px;

    input {
      width: 100%;
    }
  }
}

@media (min-width: $screen-lg-min) {
  .navbar-form .form-group {
    width: 250px;

    input {
      width: 100%;
    }
  }
}

.main-nav-small {
  li a {
    padding: 20px 100px 20px 30px;

    &:hover {
      background-color: $colorMain;
    }
  }
}

@media(max-width: $screen-sm-max) {
  .navbar-header {
    float: none;
  }
  .navbar-left, .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }

  .navbar.navbar-default {
    .navbar-form {
      margin-left: -15px;
      margin-right: -15px;
      padding: 10px 15px;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
      margin-top: 3.5px;
      margin-bottom: 3.5px;
    }

    .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: $colorDark;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;

      > li > a:hover, > li > a:focus {
        color: $colorText;
        background-color: $colorWhite;
      }

      > li > a {
        transition: color 0.3s ease, background-color 0.3s ease;
        color: $colorWhite;
        padding: 10px 20px;
      }

    }
  }
}

@media(min-width: $screen-sm-max) {
  .navbar.navbar-default {
    .navbar-nav .open .dropdown-menu {
      > li > a:hover, > li > a:focus {
        color: $colorWhite;
        background-color: $colorMainAlt;
      }

      > li > a {
        transition: color 0.3s ease, background-color 0.3s ease;
        padding: 10px 20px;
      }
    }
  }
}