{% extends 'layout_front.twig' %}
{% block title %}Home{% endblock %}
{% block body %}

    <div class="container text-center" id="home-index">
        <i class="fa fa-4x fa-wrench"></i>
        <h1><i class="fa fa-spinner fa-spin"></i> Probíhá aktualizace</h1>
        <p>Prosíme vyčkejte, stránky se právě aktualizují na novější verzi. Zkuste je načíst o něco později.</p>
    </div>
{% endblock %}