{% extends 'layout.twig' %}
{% block body %}

    <div class="container" id="page-service-manual">
        <h2>
            oficiální
            <span>Dílenská příručka</span>
        </h2>


        {% for page in manual %}
            <h3>{{ page.getTitle() }}</h3>
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    {{ page.getContent()|raw }}
                </div>

                <div class="col-xs-12 col-sm-4">
                    {% for image in page.getImages() %}
                        <img src="{{ asset('images/manual/' ~ image.getImageName()) }}" alt="{{ image.getTitle() }}"/>
                    {% endfor %}
                </div>
            </div>
            {% if not loop.last %}
                <hr/>
            {% endif %}
        {% endfor %}

    </div>


{% endblock %}