{% extends 'layout.twig' %}
{% block body %}

    <div class="container" id="page-service-manual">
        <h2>
            oficiální
            <span>Dílenská příručka</span>
        </h2>


        {% for manpage in manpages %}
            <h3>{{ manpage.getTitle() }}</h3>
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    {{ manpage.getContent()|raw }}
                </div>
            </div>
            {% if not loop.last %}
                <hr/>
            {% endif %}
        {% endfor %}

    </div>


{% endblock %}