{% extends 'layout_front.twig' %}
{% block body %}

    <div class="container" id="search-result">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    Výsledky
                    <span>vyhledávání</span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">

            </div>
        </div>
    </div>

{% endblock %}