{% extends 'layout_front.twig' %}
{% block title %}Výsledky hledání{% endblock %}
{% block body %}

    <div class="container" id="search-result">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    Výsledky
                    <span>vyhledávání</span>
                    <small>Hledaný výraz: "{{ query }}"</small>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th colspan="2">Dílenská příručka (1 výsledek)</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>
                            <a href="">Asedof parmezán kočkolavice</a>
                        </td>
                        <td>
                            <span class="label label-main">MPI</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}