// Colors
// ---------------------------------------------------------------------------------------------------------------------

$colorMain: #2d2d2d;
$colorMainAlt: #4e4e4e;
$colorMainDark: darken($colorMain, 10%);
$colorMainLight: lighten($colorMain, 50%);
$colorDark: #252525;
$colorText: #555555;
$colorShadow: #757575;
$colorLightShadow: #F3F3F3;
$colorWhite: #ffffff;
$colorBackground: $colorWhite;

$colorLink: $colorMainAlt;
$colorFooterLink: $colorMainLight;
$colorBackground: $colorWhite;
$colorAffixNavbarBg: $colorMain;

$vagColor: $colorMainAlt;

$fontDefault: "OpenSans", sans-serif;
$fontBold: "Roboto", sans-serif;

// IMPORTS
// ---------------------------------------------------------------------------------------------------------------------
@import '../partials/variables';
@import '../partials/overrides';
@import '../partials/globals';
@import '../partials/vag';
@import '../partials/header';
@import '../partials/navbar';
// Pages
@import '../pages/pagesLoader';
