// Colors
// ---------------------------------------------------------------------------------------------------------------------

$colorMain: #2d2d2d;
$colorMainAlt: #dc2c43;
$colorMainDark: darken($colorMainAlt, 10%);
$colorMainLight: lighten($colorMainAlt, 10%);
//$colorMainDarkest: #770027;
//$colorMainLight: #ff7790;

$colorDark: #252525;
$colorText: #555555;
$colorShadow: #757575;
$colorLightShadow: #F3F3F3;
$colorWhite: #ffffff;

$colorLink: $colorMainAlt;
$colorFooterLink: $colorLink;
$colorBackground: $colorWhite;
$colorAffixNavbarBg: $colorMain;

$vagColor: $colorMainAlt;

$fontDefault: "OpenSans", sans-serif;
$fontBold: "Roboto", sans-serif;

// IMPORTS
// ---------------------------------------------------------------------------------------------------------------------
@import '../partials/variables';
@import '../partials/overrides';
@import '../partials/globals';
@import '../partials/vag';
@import '../partials/header';
@import '../partials/navbar';
// Pages
@import '../pages/pagesLoader';
