// Colors
// ---------------------------------------------------------------------------------------------------------------------

$colorMain: #00b39a;
$colorMainAlt: lighten($colorMain, 5%);
$colorMainDark: darken($colorMain, 10%);
$colorMainLight: lighten($colorMain, 10%);
$colorDark: #252525;
$colorText: #555555;
$colorShadow: #757575;
$colorLightShadow: #F3F3F3;
$colorWhite: #ffffff;

$colorLink: $colorMain;
$colorFooterLink: $colorWhite;
$colorBackground: $colorWhite;

$vagColor: $colorMain;

$fontDefault: "OpenSans", sans-serif;
$fontBold: "Roboto", sans-serif;

// IMPORTS
// ---------------------------------------------------------------------------------------------------------------------
@import '../partials/variables';
@import '../partials/overrides';
@import '../partials/globals';
@import '../partials/vag';
@import '../partials/header';
@import '../partials/navbar';
// Pages
@import '../pages/pagesLoader';