{% extends 'layout_front.html.twig' %}
{% block title %}Časté otázky{% endblock %}
{% block body %}

    <div class="container" id="faq-list">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    Často kladené
                    <span>Otázky</span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <h3><i class="fa fa-fw fa-5x fa-wrench"></i> Litujeme ale tato sekce je zatím ve fázi přípravy.</h3>
            </div>
        </div>
    </div>

{% endblock %}