{% extends 'layout_front.twig' %}
{% block title %}Ke stažení{% endblock %}
{% block body %}

    <div class="container" id="article-detail">
        <div class="row">
            {# Breadcrumbs #}
            {# ------------------------------------------------------------------------------------------------------ #}
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="{{ url('frontend_home') }}">Škoda Felicia</a></li>
                    <li><a href="#">Články</a></li>
                    <li><a href="#">Technická data</a></li>
                    <li class="active">Vzorník barev</li>
                </ol>
            </div>
            {# / Breadcrumbs #}
            {# ------------------------------------------------------------------------------------------------------ #}
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header article-title">
                    Vzorník barev
                </h2>
                <div class="metadata">
                    <div class="btn btn-main btn-sm"><i class="fa fa-fw fa-list"></i> Technická data</div>
                    <div class="btn btn-default btn-sm"><i class="fa fa-fw fa-calendar"></i> 15.2.2017 15:32:20</div>
                    <div class="btn btn-default btn-sm"><i class="fa fa-fw fa-user"></i> Raito & Lukáš Hošek</div>
                </div>

                <div class="article-content table-responsive">


                </div>
            </div>
        </div>
    </div>

{% endblock %}