{% extends 'layout_front.twig' %}
{% block title %}Changelog{% endblock %}
{% block body %}

    <section class="container" id="about-changelog">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    Historie verzí
                    <span>Changelog</span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {% for version, log in changelog %}
                    <article class="panel panel-{% if loop.first %}main{% else %}default{% endif %}">
                        <div class="panel-heading">{{ version }}
                            <span class="pull-right">{{ log['released']|date('d.m.Y') }}</span></div>
                        <div class="panel-body">
                            <ul>
                                {% for change in log['changes'] %}
                                    <li>{{ change }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}