{% extends 'layout_front.html.twig' %}
{% block title %}Připravujeme{% endblock %}
{% block body %}

    <section class="container" id="about-notyet">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header text-center">
                    Litujeme
                    <span>tato stránka je v přípravě</span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <span class="fa-stack fa-lg fa-5x">
                  <i class="fa fa-cog fa-stack-1x fa-spin"></i>
                  <i class="fa fa-ban fa-stack-2x text-main"></i>
                </span>
            </div>
        </div>
    </section>

{% endblock %}