{% extends 'layout_front.twig' %}
{% block title %}Ke stažení{% endblock %}
{% block body %}

    <div class="container" id="download-list">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    Soubory
                    <span>Ke stažení</span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                to be done
            </div>
        </div>
    </div>

{% endblock %}