{% extends 'layout_front.twig' %}
{% block title %}Ke stažení{% endblock %}
{% block body %}

    <div class="container" id="download-request">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    Příprava
                    <span>Ke stažení</span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">

                <p>Soubor <strong>{{ download.getTitle() }}</strong> se připravuje ke stažení, vyčkejte prosím:</p>
                <h1 id="download-countdown"><span id="time">5</span>s</h1>

                <div class="spacer-top-half"></div>
                <a href="{{ url('frontend_download_request', {'slug': download.getSlug(), 'token': token}) }}" class="btn btn-success hidden-tmp" id="download-button">
                    <i class="fa fa-download"></i> Stáhnout
                </a>
            </div>
        </div>
    </div>

{% endblock %}