{% extends 'layout_front.twig' %}
{% block body %}

    <div class="container" id="tuning-list">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    Návody pro
                    <span>Sportovní úpravy</span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <h3><i class="fa fa-fw fa-5x fa-wrench"></i> Litujeme ale tato sekce je zatím ve fázi přípravy.</h3>
            </div>
        </div>
    </div>

{% endblock %}